{% extends "base.html" %}
{% block content %}
<h1>Active Auctions</h1>
<div class="row">
    {% for auction in auctions %}
    <div class="col-md-4">
        <div class="card">
            <img src="{{ auction[3] }}" class="card-img-top" alt="{{ auction[1] }}">
            <div class="card-body">
                <h5 class="card-title">{{ auction[1] }}</h5>
                <p class="card-text">{{ auction[2] }}</p>
                <p>Starting Price: ${{ auction[4] }}</p>
                <p>Current Price: ${{ auction[5] }}</p>
                <a href="{{ url_for('auction_details', auction_id=auction[0]) }}" class="btn btn-primary">View Auction</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
